{% extends "admin/base_site.html" %}
{% block extrahead %}
    <style>
       #header {
           background-color: #E57474;
       }

       input[type="submit"] {
           background-color: #E57474;
           background: #E57474;
       }

       caption {
           background-color: #FFD86E;
           background: #FFD86E;
       }

       a {
            color: #E57474;
       }

       .breadcrumbs{
           background-color: #FFD86E;
           background: #FFD86E;
       }

       /*.model-file{*/
       /*    background-color: #FFD86E;*/
       /*    background: #FFD86E;*/
       /*}*/

       /*.current-model{*/
       /*    background-color: #FFD86E;*/
       /*    background: #FFD86E;*/
       /*}*/

    </style>
{% endblock %}